html {
  scroll-behavior: smooth;
}

.overflow-wrap {
  overflow-x: hidden;
}

div {
  display: block;
}

/* Video Background */

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: white;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Oxygen', sans-serif;

}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.no-m-container {
  width: 100%;
  padding-left: 11%;
  padding-right: 11%;
  margin: 0;
  text-align: center;
  height: 100vh;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-content {
  z-index: 2;
  margin-bottom: 20px;
  font-size: 16px;
}

.header-content h1 {
  font-size: 45px;
  margin-bottom: 0;
  color: #fff;
}

.header-content h2 {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.highlighter {
  color: #04C2C9;
  filter: brightness(150%);
}

/* Button*/

.port-button {
  margin-bottom: 53px;
  border: 2px solid #fff;
  transition: all .5s;
  cursor: pointer;
}



@media(max-width:960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/* Sticky Navbar */

/* Style the navbar */

#navigation-bar {
  overflow: hidden;
  background-color: #333;
  z-index: 2;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
  border-color: blue;
  border-bottom: 10px;
}

.bg-dark {
  background-color: #1B242F!important;
}

/* Navbar links */

#navigation-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navigation-bar a:hover {
  color: aqua;
}

/* Page content */

.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
  padding-top: 60px;
}

/*About Section*/

h1 {
  color: #45474A;
}

h4 {
  color: #626262;
  font-weight: bold;
}

.about-p {
  color: #626262;
  font-size: .80rem;
}

.material-icons.md-dark {
  color: white;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-48 {
  font-size: 60px;
}

#icon-spacing {
  z-index: 1;
  border-radius: 20px;
  background: #04C2C9;
  padding: 16px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 15px 15px;
  justify-items: center;
  vertical-align: middle;
}

#square {
  z-index: 1;
  border-radius: 20px;
  background: #04C2C9;
  padding: 18px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 15px auto;
}

#margin-fix {
  justify-content: center;
}

ion-icon {
  font-size: 70px;
}

#picSquare {
  border-radius: 20px;
  width: 240px;
  height: 240px;
  margin: 15px;
}

.about-header {
  justify-content: center;
  text-align: center;
}

/* Project Section*/

.box {
  display: flex;
  width: 200px;
  height: 8px;
  margin: 5px 0px 60px 0px;
}

.box-sm {
  height: 3.5px;
  margin: 0;
  flex-grow: 1.5;
  transition: all .8s ease-in-out;
  cursor: pointer;
}

.box-sm:hover {
  flex-grow: 12;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightblue {
  background-color: #04C2C9;
}

.bluegrey {
  background-color: #1B242F;
}

.zoom-effect-container {
  position: relative;
  overflow: hidden;
}

.project-background {
  padding-top: 60px;
  padding-bottom: 130px;
  height: 100vh;
}

.project-header {
  color: black;
  justify-content: center;
  text-align: center;
}

.img__img {
  height: 300px;
  width: 390px;
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  color: #1B242F;
  visibility: hidden;
  opacity: 0;
  line-height: 14;
  font-size: 16px;
  font-weight: bold;
}


/* transition effect. not necessary */

/* 
  transition: opacity .2s, visibility .2s; */

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  margin: 0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

div.gallery {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

div.gallery:hover {
  -webkit-transform: scale(1.11);
  transform: scale(1.11);
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row.row-grid [class*="col-"]+[class*="col-"] {
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .row.row-grid [class*="col-lg-"]+[class*="col-lg-"] {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .row.row-grid [class*="col-md-"]+[class*="col-md-"] {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .row.row-grid [class*="col-sm-"]+[class*="col-sm-"] {
    margin-top: 0;
  }
}

/* Contact Form */

.contact-section {
  /* background-color: #1B242F; */
  height: 75vh;
  padding: 0px 650px 0 650px;
}

.contact-header {
  padding-top: 70px;
}

.btn-primary {
  background-color: white;
  border-color: #ced4da;
  color: #999;
}
.btn-primary:hover {
  background-color: #04C2C9;
  border-color: white;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
  max-height: 300px;
  min-height: 100px;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*------------------------------------------------------------------
[ Responsive ]*/

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Footer */

/*Return Home Button*/

footer .fa-caret-square-up {
  color: #04C2C9;
  top: -30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 35px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  transition: background .5s;
}

/*Social Links*/

.social-link-bar {
  background-color: #1B242F;
  padding: 70px 0 50px 0;
  position: relative;
  display: block;
  height: 20vh;
}

.fab {
  color: white;
}

.flex.row {
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-wrap {
  margin: 0px 15px 0px 15px;
}

/* Name and Copyright*/

.footnote {
  text-align: center;
  background-color: #1B242F;
  padding: 35px;
}

.project-github {
  color: #45474A;
}

.project-github:hover {
  color: #04C2C9;
}

.fa-linkedin:hover {
  color: #04C2C9;
}

.fa-facebook-square:hover {
  color: #04C2C9;
}

.fa-github-square:hover {
  color: #04C2C9;
}

.fa-stack-overflow:hover {
  color: #04C2C9;
}

/*Highlighter*/

.highlight {
  color: #04C2C9;
}

.highlight2 {
  color: #04C2C9
}

a:hover {
  text-decoration: none;
}

/* MEDIA QUERY TEMPLATE */

/* Smartphones (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #about.no-m-container {
    padding-left: 0%;
    padding-right: 0%;
    height: 2000vh;
  }
  .project-background {
    padding-top: 0%;
    padding-bottom: 0%;
    height: 2000vh;
  }
  @media only screen and (min-width: 321px) {
    .no-m-container {
      padding-left: 0%;
      padding-right: 0%;
      height: 2000vh;
    }
    .project-background {
      padding-top: 0%;
      padding-bottom: 0%;
      height: 2000vh;
    }
  } */

/* Smartphones (portrait) ----------- */

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
  .no-m-container {
    padding-left: 0%;
    padding-right: 0%;
    height: 375vh;
  }
  #projects.no-m-container {
    padding-left: 10%;
    padding-right: 10%;
    height: 225vh;
  }
  .img__img {
    height: 300px;
    width: 390px;
  }
  #navigation-bar {
    display: none;
  }
  .contact-section {
    /* background-color: #1B242F; */
    height: 100vh;
    padding: 0 50px;
  }
  .social-link-bar {
    background-color: #1B242F;
    padding: 35px 0px;
    position: relative;
    display: block;
    height: 20vh;
  }
}

@media only screen and (max-width: 320px) {
  /* Styles */
  .project-background {
    padding-top: 50px;
    padding-bottom: 130px;
    height: 100vh;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .about-p {
    font-size: .80rem;
  }
  #about.no-m-container {
    padding-left: 8%;
    padding-right: 8%;
    height: 175vh;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .about-p {
    font-size: .80rem;
  }
  #about.no-m-container {
    padding-left: 8%;
    padding-right: 8%;
    height: 175vh;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .about-p {
    font-size: .80rem;
  }
  #about.no-m-container {
    padding-left: 8%;
    padding-right: 8%;
    height: 175vh;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {}

.about-p {
  font-size: .80rem;
}

/* Styles */

@media screen and (min-width: 1025px) and (max-width: 1500px) {
  body {
    background-color: white;
  }
  .contact-section {
    height: 75vh;
    padding: 0px 400px 0 400px;
  }
  .img__description {
    font-size: 14px;
  }
  #about.no-m-container {
    padding-left: 8%;
    padding-right: 8%;
    height: 150vh;
  }
  #projects.no-m-container {
    padding-left: 5%;
    padding-right: 5%;
    height: 125vh;
  }
  .about-p {
    font-size: 13px;
  }
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  /* Styles */
  .contact-header {
    padding-top: 60px;
  }
  #about.no-m-container {
    padding-left: 8%;
    padding-right: 8%;
    height: 110vh;
  }
  /* iPhone 4 ----------- */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
  }
  @media screen and (min-width: 1024px) and (max-width: 1300px) {
    body {
      background-color: red;
    }
    .project-background {
      padding-top: 50px;
    }
    .zoom-effect-container {
      height: 185px;
      width: 240px;
    }
    .about-section {
      padding-top: 20px;
    }
    .contact-question {
      padding: 20px;
    }
  }
  @media screen and (max-width:860px) {
    body {
      background-color: yellow;
    }
  }
  @media screen and (max-width: 600px) {
    body {
      background-color: orange;
    }
  }
}